*{
    margin: 0px;
    padding: 0px;
    color:#354259;
    /* border: 1px solid red; */
}

h1{
    background-color: #354259;
    color: #CDC2AE;
    text-align: center;
    font-size: 2.5em;
    padding: 10px 0px 10px 0px;
    letter-spacing: 0.1em;
    height:50px;
}

body{
    background-color: #C2DED1;
    box-sizing: border-box;
}

.container{
    display:grid;
    grid-template-columns: auto 5px auto;
    margin-top: 20px;
}

h2{
    text-align: center;
}

.left{
    margin:auto
}
.row {
    display:grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1em;
    margin-top: 15px;
}
.row span{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:5px;
}

input{
    height:2em;
}

input[type="button"]{
    background-color: #354259;
    color: #C2DED1;
    font-weight: bold;
}

input[type="button"]:hover{
    background-color: #C2DED1;
    color: #354259;
}

.separator{
    background-color: #354259;
    margin-left: 1px;
}

.right table{
    border-collapse: collapse;
    margin: auto;
}

.right table td, .right table th{
    padding:5px;
    border: 1px solid #354259;
}
.right table th{
    background-color: hsl(152, 30%, 62%);
}
.right table td img{
    width: 50px;
    height: 50px;
}